.nav {
	display: flex;
	height: 15vh;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.54) 0px 0px 0px 3px;
}

.nav__logo {
	width: 150px;
	margin-left: 8vw;
}

.nav__right {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	flex-grow: 1;
}

.nav__top {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav__top_list {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.nav__top_item {
	margin: 0.5rem 1rem;
}

.cart {
	margin-left: 0.3rem;
}

.phoneNumber {
	margin-top: 0.5rem;
}

.nav__list {
	display: flex;
}

.nav__item {
	list-style: none;
}

.nav__link {
	text-decoration: none;
	color: black;
	padding: 0.5rem;
	margin: 1rem;
	text-transform: uppercase;
	transition: all 0.4s;
}
